<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegUser</servlet-name>
        <servlet-class>com.controlador.RegUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>com.controlador.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarMenu</servlet-name>
        <servlet-class>com.controlador.RegistrarMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegUser</servlet-name>
        <url-pattern>/RegUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarMenu</servlet-name>
        <url-pattern>/addMenu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
