/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/10/2016, 12:10:57 AM
    Author     : wxjoy
*/
@charset 'UTF-8';
@font-face{
    font-family: 'Pacifico';
    src:url('font/Pacifico.ttf');
}
@font-face{
    font-family: 'Starjedi';
    src:url('font/Starjedi.ttf')
}
        #contenedor{
            -webkit-border-radius: 10px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -moz-border-radius: 10px;
            -moz-border-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -o-border-radius: 10px;
            -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            font-family: sans-serif;
            font-size: 18px;
            margin: 0 auto;
            padding: 20px;
            width: 190px;
        }
 
        .campo{
            border: outset 6px #6F7EEB;
            font-size: 12px;
            padding: 5px;
            margin-bottom: 10px;
            width: 150px;
        }
 
        .boton{
            background: #FF0098;
            border: solid 0;
            color: #fff;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
        }
 
        .errores{
            -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background: red;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            color: #fff;
            display: none;
            font-size: 14px;
            margin-top: -50px;
            margin-left: 180px;
            padding: 10px;
            position: absolute;
        }
        
        #logo{
            font-family: Starjedi;
            font-size: 26px;
            text-shadow: -4px 4px 6px dimgrey;
            text-align: center;
        }